.aqi-container {
  min-width: 500px;
  min-height: 300px;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  border-radius: 1rem;
  box-sizing: border-box;

  .face {
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 64px;
      max-width: 100%;
    }
  }

  .info {
    flex: 1 1 0;
    padding: 5px 10px;

    .info-aqi {

    }

    .info-legend {

    }
  }
}