.aqi-container {
  width: 100%;
  height: 100%;
  min-width: 356px;
  flex-wrap: wrap;
  text-align: center;
  overflow: hidden;

  .city {
    padding-left: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .time {
    margin-left: 1rem;
  }

  .aqi-wrapper {
    overflow: hidden;
    border-radius: 1rem 1rem 0 0;
  }

  .forecast-wrapper {
    max-height: 2rem;
    font-size: 0.9rem;
    border-radius: 0 0 1rem 1rem;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
  }
}

.aqi-wrapper {
  background-color: khaki;

  .face {
    .icon-face {
      width: 100%;
      height: 100%;
      padding: 0.5rem;
      box-sizing: border-box;
      background-size: auto 88%;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  .info {
    flex-wrap: wrap;
    padding: 6px 10px;

    .info-aqi {
      .aqi {font-size: 2rem;}
      .status {font-size: 1.2rem;}
    }

    .info-legend {
      max-height: 1.2rem;

      .unit {
        font-size: 0.9rem;
      }

      .pm {
        font-size: 0.9rem;
        border-radius: 4px;
        background: #fff;
      }
    }
  }
}

.forecast-wrapper {
  .weather, .humidity, .wind {
    padding: 6px 0;
  }

  .weather {
    border-right: 1px solid #e6e6e6;
  }

  svg {
    width: 24px;
    height: 24px;
  }
}

.aqi-wrapper.good {
  color: #607631;
  background-color: #a8e05f;

  .face {
    background-color: #87c13c;
    .icon-face {
      background-image: url(https://www.iqair.com/assets/aqi/ic-face-green.svg);
    }
  }
}

.aqi-wrapper.moderate {
  color: #8c6c1d;
  background-color: #fdd64b;

  .face {
    background-color: #efbe1d;
    .icon-face {
      background-image: url(https://www.iqair.com/assets/aqi/ic-face-yellow.svg);
    }
  }
}

.aqi-wrapper.lite_unhealthy {
  color: #974a20;
  background-color: #ff9b57;

  .face {
    background-color: #f27e2f;
    .icon-face {
      background-image: url(https://www.iqair.com/assets/aqi/ic-face-orange.svg);
    }
  }
}

.aqi-wrapper.unhealthy {
  color: #942431;
  background-color: #fe6a69;

  .face {
    background-color: #e84b50;
    .icon-face {
      background-image: url(https://www.iqair.com/assets/aqi/ic-face-red.svg);
    }
  }
}

.aqi-wrapper.very_unhealthy {
  color: #573344;
  background-color: #a87383;

  .face {
    background-color: #915c6c;
    .icon-face {
      background-image: url(https://www.iqair.com/assets/aqi/ic-face-maroon.svg);
    }
  }
}

/* skeleton */
.aqi-container:empty {
  background-image:
  linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80% ),
    radial-gradient( circle 50px at 50px 50px, #f3f3f3 99%, transparent 0 ),
    linear-gradient( #f3f3f3 20px, transparent 0 ),
    linear-gradient( #f3f3f3 20px, transparent 0 ),
    linear-gradient( #f3f3f3 20px, transparent 0 );

    background-size:
      50px 200px, /* highlight */
      100px 200px, /* circle */
      150px 200px,
      350px 200px,
      300px 200px;

  background-position:
      0 0, /* highlight */
      0 24px, /* circle */
      120px 25px,
      120px 65px,
      120px 105px;

  background-repeat: repeat-y;
  animation: shine 1s infinite;
}

@keyframes shine {
  to {
    background-position:
      100% 0, /* move highlight to right */
      0 24px, /* circle */
      120px 25px,
      120px 65px,
      120px 105px;
  }
}

.row {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;

  > .block-25 {
    flex: 1 1 100%;
    max-width: 25%;
    box-sizing: border-box;
  }

  > .block-50 {
    flex: 1 1 100%;
    max-width: 50%;
    box-sizing: border-box;
  }

  > .block-75 {
    flex: 1 1 100%;
    max-width: 75%;
    box-sizing: border-box;
  }
}

.column {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  > .block-50 {
    flex: 1 1 100%;
    max-height: 50%;
    box-sizing: border-box;
  }

  > .block-flex {
    /* set your own height */
    flex: 1 1 100%;
    box-sizing: border-box;
  }

  > .fill {
    flex: 1 1 1e-09px;
    box-sizing: border-box;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}