.container {
  width: 100%;
  height: 100%;

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo {
      width: auto;
      margin-bottom: 20px;
    }

    .title {
      margin-bottom: 15px;
      color: #676767;
      text-transform: uppercase;
      letter-spacing: 10px;
      text-align: center;
      font-size: 1.75em;
      font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
      font-variant: tabular-nums;
    }
  }
}
