.container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;

  .main {
    height: 100vh;
  }
}