.app-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;

  .app-wrapper {
    height: 100vh;

    .main-header {
      width: 100vw;
      height: 70px;
    }

    .main-content {
      width: 100vw;
      height: calc(100vh - 70px);
    }
  }
}