<div class="container">
  <div class="form-info">
    <div class="row">
      <mat-form-field appearance="outline" class="col-316 mr">
        <mat-label>Họ và tên</mat-label>
        <input matInput type="text" name="name"
               autocomplete="off" maxlength="100">
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-150">
        <mat-label>Giới tính</mat-label>
        <mat-select name="gender">
          <mat-option value="female">Nữ</mat-option>
          <mat-option value="male">Nam</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" class="col-150 mr">
        <mat-label>Ngày sinh</mat-label>
        <mat-select name="birthday">
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-150 mr">
        <mat-label>Tháng sinh</mat-label>
        <mat-select name="birthday">
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-150">
        <mat-label>Năm sinh</mat-label>
        <mat-select name="birthday">
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="laso">

  </div>
</div>