.galaxy-button-base {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.25px;
  padding: 10px 30px;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  display: flex;
  flex-direction: row;
  align-items: center;

  svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
  }
}

.galaxy-button {
  color: var(--color-green);
  background: #fff;
  border: 1px solid #dadce0;

  &:focus {
    background-color: #f8fcf9;
    border: 1px solid #c8e7d1;
  }

  &:hover {
    background-color: #f8fcf9;
    border: 1px solid #c8e7d1;
  }
}

.galaxy-raised-button {
  color: #fff;
  border: 1px solid var(--color-green);
  background-color: var(--color-green);


  &:focus {
    background: #15bb5a;
  }

  &:hover {
    background: #15bb5a;
  }
}

.galaxy-icon-button {
  cursor: pointer;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  line-height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  background: transparent;
  border: none;
  outline: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}