<mat-form-field class="form-select"
                matTooltipClass="multiline-mat-tooltip"
                [matTooltip]="tooltip"
                [appearance]="appearance"
                (click)="matSelect.open()">
  <mat-label>{{ label | translate }}</mat-label>

  <input matInput [value]="text" readonly>

  <button mat-icon-button matSuffix color="warn"
          *ngIf="value && value.length && multiple"
          (click)="clear($event)">
    <mat-icon>clear</mat-icon>
  </button>

  <button mat-icon-button matSuffix>
    <mat-icon style="color: rgba(0, 0, 0, 0.54);">
      arrow_drop_down
    </mat-icon>
  </button>

  <mat-select #matSelect
              [formControl]="valueCtrl"
              [multiple]="multiple"
              [required]="required"
              (openedChange)="onOpenedChange($event)">

    <div class="form-select-search" *ngIf="enableSearch">
      <mat-form-field floatLabel="never">
        <mat-label>{{ searchLabel | translate }}</mat-label>
        <input #searchInput matInput autocomplete="off"
               [formControl]="filterCtrl"
               (keydown)="prevent($event)">

        <button mat-icon-button matSuffix class="suffix"
                *ngIf="!filterCtrl.value">
          <mat-icon style="color: rgba(0, 0, 0, 0.54);">search</mat-icon>
        </button>

        <button mat-icon-button matSuffix class="suffix"
                *ngIf="filterCtrl.value"
                (click)="onClearSearch()">
          <mat-icon style="color: #e85757;">clear</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <cdk-virtual-scroll-viewport
        itemSize="25"
        style="min-width: 165px;"
        [ngStyle]="{'height.px': virtualScrollHeight}">
      <mat-option *cdkVirtualFor="let option of filteredOptions$ | async"
                  [value]="option.id"
                  (onSelectionChange)="onSelectionChange($event)">
        {{ option.name }}
      </mat-option>
    </cdk-virtual-scroll-viewport>
  </mat-select>
</mat-form-field>