.form-input-file {
  height: 300px;
  width: 100%;
  margin: 8px auto;
  border: 2px dashed rgb(168, 163, 163);
  border-radius: 10px;
  position: relative;
  cursor: pointer;

  h2,
  h3,
  p {
    margin: 0;
    font-weight: 300;
  }

  .file-drop-area {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;

    .csv-icon {
      margin-bottom: 10px;
    }

    .title {
      color: rgba(0, 0, 0, 0.68);
      margin-bottom: 10px;
    }

    .download-template-button {
      position: absolute;
      top: 4px;
      right: 4px;
      z-index: 10;
    }
  }

  .file-info {
    width: 100%;
    height: 100%;
    background: #f7fcf9;
    border-radius: 10px;

    .title {
      color: rgba(0, 0, 0, 0.68);
      margin-bottom: 28px;
      font-size: 2.2em;
      max-width: 100%;
      padding: 0 8px;
    }
  }

  .file-loading {
    background: #e0f8fd;
    color: rgba(0, 0, 0, 0.68);
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
}

.center {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  place-content: center;
  align-items: center;
}
