.container {
  width: 100vw;
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  overflow: auto;

  .nav-content {
    width: 240px;
    height: 100%;
    overflow: auto;
    border-right: 1px solid rgba(0, 0, 0, 0.2);

    &::-webkit-scrollbar {
      height: 4px;
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, .26);
    }
  }

  .main {
    height: 100%;
    width: calc(100vw - 240px);
    overflow: auto;

    &::-webkit-scrollbar {
      height: 6px;
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(225, 78, 202, 0.26);
    }
  }
}
