<div class="container">
  <div class="content">
    <section class="section-1">
      <div class="container">
        <div class="flex column center auto">
          <img class="logo" src="assets/images/octonaut.svg" />

          <div class="title">Welcome to galaxy app</div>
        </div>
      </div>
    </section>

    <section class="section-2">
      <div class="container about">
        <div class="flex row space-between center">
          <div class="image">
            <img class="card" height="300px" src="assets/images/octonaut-red.svg" alt="">
          </div>

          <div class="content">
            <h5 class="title-small" style="margin-bottom: 8px;">Who am I?</h5>
            <h3 class="title-big" style="margin-bottom: 14px;">Tien Dat Huynh, a Frontend Developer</h3>
            <p>Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quae, fugiat consequatur voluptatem nihil ad. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor ipsum non velit reprehenderit, molestias culpa!</p>
          </div>
        </div>
      </div>
    </section>

    <section class="section-3">
      <div class="container about">
        <div class="flex row space-between center">
          <div class="content">
            <h3 class="title-big" style="margin-bottom: 14px;">Lorem ipsum</h3>
            <article>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
              <p>Tempora repudiandae facilis distinctio saepe repellendus? Consectetur unde obcaecati cumque, iure odio dolore libero voluptate iusto sunt accusantium consequatur totam adipisci vel!</p>
            </article>
          </div>

          <div class="image" style="min-height: 300px;">
            <!-- <img class="card" height="300px" src="assets/images/loading-cat.gif"> -->
          </div>
        </div>
      </div>
    </section>

    <section #scrollTrigger class="section-4">
      <div class="container">
        <div class="flex row space-between center">
          <div class="emoji">
            <div>
              :)
            </div>

            <div>
              <h1 id="dashboardEmoji1">0</h1>
            </div>
          </div>

          <div class="emoji">
            <div>
              :(
            </div>

            <div>
              <h1 id="dashboardEmoji2">0</h1>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="flex row space-between center">
        </div>
      </div>
    </section>
  </div>

  <app-footer></app-footer>
</div>