<div class="container">
  <div class="content">
    <section class="section-1">
      <div class="container">
        <div class="flex column center auto">
          <img class="logo" src="assets/images/octonaut.svg" />

          <div class="title">Welcome to galaxy app</div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="flex row space-between center">
          <div class="image">
            <img src="https://tanca.io/templates/tancanewversion/images/tinh-nang/cham-cong-truc-tuyen/cham-cong-dien-thoai-qua-dinh-vi-gps-01.png">
          </div>

          <div class="content">
            <h2>Lorem ipsum</h2>
            <article>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
              <p>Tempora repudiandae facilis distinctio saepe repellendus? Consectetur unde obcaecati cumque, iure odio dolore libero voluptate iusto sunt accusantium consequatur totam adipisci vel!</p>
            </article>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="flex row space-between center">
          <style type="text/css">
            .digit {
              opacity: 0;
              -webkit-transform: translateX(-40px);
                 -moz-transform: translateX(-40px);
                  -ms-transform: translateX(-40px);
                   -o-transform: translateX(-40px);
                      transform: translateX(-40px);
              -webkit-transition: all 0.6s ease-out;
                 -moz-transition: all 0.6s ease-out;
                  -ms-transition: all 0.6s ease-out;
                   -o-transition: all 0.6s ease-out;
                      transition: all 0.6s ease-out;
            }
            .digit.visible {
              opacity: 1;
              -webkit-transform: none;
                 -moz-transform: none;
                  -ms-transform: none;
                   -o-transform: none;
                      transform: none;
            }
            .digit:nth-child(2) {
              margin-top: 50px;
            }
            .digit:nth-child(3) {
              margin-top: 100px;
            }
            .digit:nth-child(4) {
              margin-top: 150px;
            }
            .digit:nth-child(5) {
              margin-top: 200px;
            }
          </style>
          <div class="spacer s2"></div>
          <div class="spacer s0"></div>
          <div class="box2	 white">
            <p>Multiple elements can be looped over and animated as they enter the viewport.</p>
            <a href="#" class="viewsource">view source</a>
          </div>
          <div class="spacer s0"></div>
          <div id="reveal-elements">
            <div class="box1 digit blue"><p>1</p></div>
            <div class="box1 digit turqoise"><p>2</p></div>
            <div class="box1 digit red"><p>3</p></div>
            <div class="box1 digit green"><p>4</p></div>
            <div class="box1 digit orange"><p>5</p></div>
          </div>
          <div class="spacer s2"></div>
        </div>
      </div>
    </section>
  </div>

  <app-footer></app-footer>
</div>