<div class="container">
  <div class="content">
    <section class="section-1">
      <div class="container">
        <div class="flex column center auto">
          <img class="logo" src="assets/images/octonaut.svg" />

          <div class="title">Welcome to galaxy app</div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="flex row space-between center">
          <div class="image">
            <img src="https://tanca.io/templates/tancanewversion/images/tinh-nang/cham-cong-truc-tuyen/cham-cong-dien-thoai-qua-dinh-vi-gps-01.png">
          </div>

          <div class="content">
            <h2>Lorem ipsum</h2>
            <article>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
              <p>Tempora repudiandae facilis distinctio saepe repellendus? Consectetur unde obcaecati cumque, iure odio dolore libero voluptate iusto sunt accusantium consequatur totam adipisci vel!</p>
            </article>
          </div>
        </div>
      </div>
    </section>
  </div>

  <app-footer></app-footer>
</div>