<div class="container">
  <div class="terminal" fxLayout="column" fxLayoutAlign="center stretch">
    <header>
      <div class="title">Terminal</div>

      <div class="dot-container">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </header>

    <div class="code">
      <div>
        <p>npm install</p>
      </div>

      <div class="typewriter">
        <p>
          <span>Nothing happens by change, by fate.</span>
        </p>
      </div>
    </div>
  </div>
</div>