:host {
  display: inline-block;
}

.galaxy-menu-wrapper {
  position: relative;
  display: inline-block;

  .galaxy-menu-trigger {
    cursor: pointer;
    display: inline-block;
  }

  .galaxy-menu-content {
    display: none;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding: 24px;
    position: absolute;
    min-width: 200px;
    width: auto;
    z-index: 10;

    .galaxy-menu-card {
      overflow: auto;
      font-family: inherit;
      box-sizing: border-box;
      padding: 16px;
      border-radius: 8px;
      max-width: 400px;
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.05);
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
    }
  }
}

.galaxy-menu-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.05);
  display: none;
}

.galaxy-menu-show {
  .galaxy-menu-backdrop, .galaxy-menu-content {
    display: block;
  }
}

.galaxy-menu-top {
  .galaxy-menu-content {
    top: auto;
    bottom: 100%;
    transform: translate(0, -10px);
  }
}

.galaxy-menu-bottom {
  .galaxy-menu-content {
    top: 100%;
    bottom: auto;
    transform: translate(0, 10px);
  }
}

.galaxy-menu-left {
  .galaxy-menu-content {
    left: auto;
    right: 0;
  }
}

.galaxy-menu-right {
  .galaxy-menu-content {
    left: 0;
    right: auto;
  }
}