<div class="epoch-container">
  <section>
    <div class="section-container">
      <h2 class="title">
        Current Unix Epoch Time
      </h2>

      <div class="clock">
        <div class="ecclock" (mouseenter)="onClockHover()" (mouseleave)="initEcClock()">
          <span>{{ ecclock }}</span>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="section-container">
      <h2 class="title">
        Convert epoch timestamp to human date
      </h2>

      <div class="epoch-to-human">
        <div>
          <input type="number" autocomplete="off" [formControl]="timestampCtrl">

          <button mat-stroked-button color="primary" (click)="epoch2human()">
            <span>Timestamp to Human date</span>
          </button>
        </div>

        <div class="result-box">
          <table>
            <tr *ngIf="parsedHumanDate.utc">
              <td class="list-header">UTC:</td>
              <td>{{ parsedHumanDate.utc }}</td>
            </tr>

            <tr *ngIf="parsedHumanDate.local">
              <td class="list-header">Your time zone:</td>
              <td>{{ parsedHumanDate.local }}</td>
            </tr>
          </table>

          <div *ngIf="parsedHumanDate.error">
            <span>{{ parsedHumanDate.error }}</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="section-container">
      <h2 class="title">
        Convert human date to timestamp
      </h2>
    </div>

    <div class="human-to-epoch" [formGroup]="humanDateForm">
      <label>
        Year:
        <input type="number" maxlength="4" formControlName="year">
      </label>
    </div>
  </section>
</div>
