:root {
  --color-green: #13AA52;
}

.galaxy-navigation {
  height: 100%;
  width: 100%;
}

.galaxy-process-spinner {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.galaxy-tooltip {
  position: absolute;
  max-width: 150px;
  font-size: 14px;
  text-align: center;
  color: #f8f8f2;
  padding: 3px 8px;
  background: #282a36;
  border-radius: 4px;
  z-index: 1000;
}

a {
  color: var(--color-green);
  text-decoration: none;
}

.galaxy-box-shadow-1 {
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.1);
}
