:root {
  --color-green: #13AA52;
}

.galaxy-navigation {
  height: 100%;
  width: 100%;
}

.galaxy-process-spinner {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.galaxy-avatar {
  display: inline-block;
  overflow: hidden;
}

.galaxy-menu {
  display: inline-block;
}

a {
  color: var(--color-green);
  text-decoration: none;
}