<div id="APP_LOADER" class="app-splash-screen">
  <div class="galaxy-logo">
    <img width="400px" height="120px" src="assets/images/logo.svg" >
  </div>

  <div class="planet-loader">
    <div class="planet">
      <div class="ring"></div>

      <div class="ring-cover"></div>

      <div class="spots">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="text">loading</div>
  </div>
</div>
