.container {
  position: relative;
  width: 100%;
  height: 100%;

  .chart {
    background: #fff;
  }

  .no-data {
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    place-content: center;
    align-items: center;

    svg {
      path {
        fill: rgba(179, 179, 179, 0.33);
      }
    }
  }
}
