<mat-form-field appearance="outline" class="form-select-timezone">
  <mat-label>{{ label }}</mat-label>

  <mat-select [formControl]="valueCtrl"
              [required]="required"
              (openedChange)="onOpenSelect($event)"
              (selectionChange)="onSelectionChange($event)">
    <div class="form-select-search">
      <mat-form-field floatLabel="never">
        <mat-label>{{ 'DATA.EXPORT.PLACEHOLDER.SEARCH' | translate }}</mat-label>
        <input #searchInput matInput autocomplete="off"
               [formControl]="filterCtrl"
               (keydown)="$event.stopPropagation()">

        <button mat-icon-button matSuffix class="suffix"
                *ngIf="!searchInput.value">
          <mat-icon class="icon-search">search</mat-icon>
        </button>

        <button mat-icon-button matSuffix class="suffix"
                *ngIf="searchInput.value"
                (click)="onClearSearch()">
          <mat-icon class="icon-cancel">clear</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <mat-option>{{ 'DATA.EXPORT.TEXT.NONE' | translate }}</mat-option>
    <mat-optgroup *ngFor="let group of filteredZoneGroups$ | async"
                  [disabled]="group.disabled">
      <mat-label [innerHTML]="group.name | highlight: filterCtrl.value"></mat-label>

      <mat-option *ngFor="let zone of group.zones"
                  [value]="zone.id">
        <span [innerHTML]="zone.name | highlight: filterCtrl.value"></span>
      </mat-option>
    </mat-optgroup>
  </mat-select>
</mat-form-field>