<mat-form-field appearance="outline" class="form-select-timezone">
  <mat-label>timezone</mat-label>

  <mat-select [formControl]="valueCtrl"
              (openedChange)="onOpenSelect($event)"
              (selectionChange)="onSelectionChange($event)">
    <div class="form-select-search">
      <mat-form-field floatLabel="never">
        <mat-label>{{ 'DATA.EXPORT.PLACEHOLDER.SEARCH' | translate }}</mat-label>
        <input #searchInput matInput autocomplete="off"
               [formControl]="filterCtrl"
               (keydown)="$event.stopPropagation()">

        <button mat-icon-button matSuffix class="suffix"
                *ngIf="!searchInput.value">
          <mat-icon class="icon-search">search</mat-icon>
        </button>

        <button mat-icon-button matSuffix class="suffix"
                *ngIf="searchInput.value"
                (click)="onClearSearch()">
          <mat-icon class="icon-cancel">clear</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <cdk-virtual-scroll-viewport itemSize="25" [ngStyle]="{'height': scrollHeight}">
      <mat-option *cdkVirtualFor="let option of filteredZones$ | async"
                  [value]="option.id">
        <span>{{ option.name }}</span>
      </mat-option>
    </cdk-virtual-scroll-viewport>
  </mat-select>
</mat-form-field>