.form-select-timezone {
  width: 100%;
  box-sizing: border-box;

  ::ng-deep .mat-form-field-outline-thick {
    color: var(--color-primary);
  }
}

.form-select-search {
  border-bottom: 1px solid rgb(86 86 86 / 15%);
  background: white;
  position: sticky;
  padding: 0px 16px;
  max-width: 100%;
  height: 48px;
  top: 0px;
  z-index: 10;

  .suffix {
    font-size: 1.2em;
    transform: translateY(2px);
  }

  .icon-search {
    color: rgba(0, 0, 0, 0.58);
  }

  .icon-cancel {
    color: #e85757;
  }

  mat-form-field {
    width: 100%;
  }

  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  // center vertical input
  ::ng-deep .mat-form-field-infix {
    transform: translateY(2px);
  }

  // hide input underline
  ::ng-deep .mat-form-field-underline {
    display: none;
  }
}
