.galaxy-card {
  display: flex;
  padding: 1rem;
  border-radius: 1rem;
  position: relative;
  word-wrap: break-word;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #fff;
  background-clip: border-box;
  box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
}