
:host {
  display: inline-block;
}

.covid-tracker-container {
  width: 100%;
  height: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

.covid-tracker-title {
  color: #67748d;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1rem;

  .last-update {
    font-weight: 300;
    font-size: 0.9rem;
  }
}

.covid-tracker {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  box-sizing: border-box;

  .main-tracker {
    padding: 1rem;
    display: flex;
    flex: 0 0 100%;
    max-width: 33.33333%;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;

    .tracker-icon {
      display: flex;
      align-items: center;
      margin-right: 1rem;
    }

    .counter {
      color: #67748e;

      h2 {
        font-size: 1.8rem;
        margin-top: 0;
        margin-bottom: 0.625rem;
      }

      p {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  .confirmed {
    color: #fb542b;
  }

  .recovered {
    color: #28a745;
  }

  .deaths {
    color: #282f36;
  }
}

.icon {
  width: 58px;
  height: 58px;
  line-height: 58px;
  display: inline-block;

  svg {
    width: auto;
    height: 100%;
  }
}

.skeleton-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  .skeleton {
    display: flex;
    flex: 1 1 100%;
    padding: 0.5rem;
    align-items: center;
    box-sizing: border-box;
    max-width: 33.33333333%;

    .avatar {
      width: 5rem;
      height: 5rem;
      overflow: hidden;
      border-radius: 50%;
      position: relative;
      background: #e0e0e0;
    }

    .details {
      margin-left: 1rem;
    }

    .line {
      height: 1rem;
      overflow: hidden;
      border-radius: 10px;
      position: relative;
      background: #e0e0e0;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    .line-1 {
      width: 7rem;
    }

    .line-2 {
      width: 10rem;
    }

    .avatar::before,
    .details .line::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      animation: shimmer 1s linear infinite;
      background-size: 450px 400px;
      background-repeat: no-repeat;
      background-image: linear-gradient(to right, #d9d9d9 0%, rgba(0,0,0,0.05) 20%, #d9d9d9 40%, #d9d9d9 100%);
    }

    .details .line::before {
      animation-delay: 0.2s;
    }
  }

  @keyframes shimmer {
    from { background-position: -450px 0; }
    to { background-position: 450px 0; }
  }
}


@media (max-width: 999px) {
  .covid-tracker .main-tracker {
    max-width: 100%;
  }

  .skeleton-container .skeleton {
    max-width: 100%;
  }
}