<!-- <p>test works!</p> -->
<app-header></app-header>

<div style="padding: 24px; margin: 8px;">
  <div>
    <p translate>demo.title</p>
  </div>

  <div>
    <p>{{ 'demo.content' | translate }}</p>
  </div>

  <div style="margin-top: 10px;">
    <div class="galaxy-form">
      <input name="yeah">
    </div>
  </div>

  <div style="margin-top: 10px;">
    <galaxy-form>
      <galaxy-label>Your email?</galaxy-label>
      <input name="wtf">
    </galaxy-form>
  </div>

  <div style="margin-top: 10px;">
    <button galaxy-button (click)="doit('vn')">
      Change language Vietnamese
    </button>
  </div>

  <div style="margin-top: 20px;">
    <button galaxy-raised-button (click)="doit('en')">
      Change language Meo
    </button>
  </div>

  <div galaxy-card style="margin-top: 20px;">
    <h1>Hello</h1>
    <h1>Bonjour</h1>
    <h1>Vietnam xin chào!</h1>
  </div>
</div>
