.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .content {
    box-sizing: border-box;
    height: calc(100vh - 70px);
    width: 100%;
    padding: 24px;
    overflow: auto;
  }
}

.menu {
  a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  a:hover {background-color: #ddd;}
}