<div class="flex-container">
  <div class="flex-item">
    <div class="galaxy-card">
      <div class="card-col flex column">
        <p>Built by developers</p>
        <h3>Galaxy UI Dashboard</h3>
        <p>From colors, cards, typography to complex elements, you will find the full documentation.</p>
      </div>
    </div>
  </div>

  <div class="flex-item">
    <div class="galaxy-card card-center">
      <app-air-quality-index></app-air-quality-index>
    </div>
  </div>

  <div class="flex-item flex-100">
    <div class="galaxy-card">
      <app-covid-tracker></app-covid-tracker>
    </div>
  </div>

  <div class="flex-item flex-100">
    <div class="galaxy-card">
      <app-covid-tracker [country]="'VN'"></app-covid-tracker>
    </div>
  </div>
</div>