$nav-bg: #555555;
$nav-color: #fff;

.header-container {
  align-items: center;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  padding: 0 16px;
  width: 100%;
  height: 64px;
  margin: 0;
  letter-spacing: normal;
}

.navbar {
  background-color: $nav-bg;

  ul, li {
    padding: 20px;
  }

  ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: $nav-color;
    text-transform: uppercase;
  }

  .menu {
    position: relative;

    .sub-menu {
      display: block;
      position: absolute;
      min-width: 190px;
      width: 100%;
      top: 100%;
      left: 0;
      padding: 0;
      z-index: 9999;

      li {
        background-color: $nav-bg;
        padding: 10px;
        display: none;
        animation: appear 300ms ease-in-out;
      }

      li:nth-child(1) {
        animation-duration: 300ms;
      }

      li:nth-child(2) {
        animation-duration: 400ms;
      }

      li:nth-child(3) {
        animation-duration: 500ms;
      }

      li:nth-child(4) {
        animation-duration: 600ms;
      }

      li:nth-child(5) {
        animation-duration: 700ms;
      }

      li:nth-child(6) {
        animation-duration: 800ms;
      }

      li:nth-child(7) {
        animation-duration: 900ms;
      }

      li:nth-child(8) {
        animation-duration: 1000ms;
      }

      li:nth-child(9) {
        animation-duration: 1100ms;
      }

      li:nth-child(10) {
        animation-duration: 1200ms;
      }
    }
  }

  ul li:hover .sub-menu li {
    display: block;
  }

  @keyframes appear {
    0% {
      opacity: 0;
      transform: rotateY(-90deg) translateY(20px);
    }
    100% {
      opacity: 1;
      transform: rotateY(0) translateY(0);
    }
  }
}
