<div class="page-not-found center center-horizontal">
  <div class="wrapper">
    <div class="left">
      <img class="stretch" src="assets/images/not-found.svg" />
    </div>

    <div class="right">
      <div class="center center-verical stretch">
        <div class="line-1">404</div>
        <div class="line-2">Looks like you're lost.</div>
        <div class="line-3">Don't worry, we are here to rescue you!</div>
        <a type="button" class="home ripple" [routerLink]="['/dashboard']">HOME</a>
      </div>
    </div>
  </div>
</div>