.page-not-found {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;

  .wrapper {
    position: relative;
    width: 80%;
    height: 70%;
    margin: auto;
    padding: 16px;
    background: #fff;
    border-radius: 12px;
    box-sizing: border-box;
    box-shadow: 0px 10px 70px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .left, .right {
    width: 50%;
    height: 100%;
    float: left;
    padding: 16px;
    box-sizing: border-box;
  }

  .right {

    .line-1 {
      color: var(--color-green);
      font-size: 7vw;
      font-weight: 850;
      margin-bottom: 16px;
      font-family: 'Recursive', sans-serif;
    }

    .line-2 {
      font-size: 2.2vw;
      margin-bottom: 8px;
      color: rgba(0, 0, 0, 0.68);
      font-family: 'Indie Flower', cursive;
    }

    .line-3 {
      font-size: 2vw;
      margin-bottom: 32px;
      color: rgba(0, 0, 0, 0.68);
      font-family: 'Indie Flower', cursive;
    }

    .home {
      cursor: pointer;
      width: 80%;
      color: #fff;
      outline: none;
      border: none;
      text-align: center;
      text-decoration: none;
      padding: 10px 30px;
      box-shadow: none;
      background: var(--color-green);
      border-radius: 2.2vw;
      font-size: 2.2vw;
      font-family: 'Indie Flower', cursive;

      &:hover, &:focus {
        transform: scale(1.1);
        box-shadow: 0 0.5em 0.5em -0.4em rgba(0, 0, 0, 0.68);
      }
    }

    .ripple {
      transition: background 0.8s;
      background-position: center;

      &:hover {
        background: var(--color-green) radial-gradient(circle, transparent 1%, #2ea35f 1%) center/15000%;
      }

      &:active {
        background-color: var(--color-green);
        background-size: 100%;
        transition: background 0s;
      }
    }
  }
}

@media only screen and (max-width:820px) {

  /* For mobile phones: */
  .page-not-found {

    .wrapper {
      width: 90%;
      height: 90%;
    }

    .left, .right {
      width: 100%;
      height: 50%;
    }

    .right {

      .line-1 {
        font-size: 10vw;
      }

      .line-2 {
        font-size: 4.2vw;
      }

      .line-3 {
        font-size: 4vw;
      }

      .home {
        font-size: 4vw;
        border-radius: 4vw;
      }
    }
  }
}

.center {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.center.center-horizontal {
  flex-direction: row;
  align-content: center;
}

.center.center-verical {
  flex-direction: column;
  justify-content: center;
}

.stretch {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
