:host {
  display: block;
}

.footer-container {
  height: 100%;
  display: block;
  color: #6c757d;
  padding-top: 30px;
  border-top: 1px solid #efefef;
  box-sizing: border-box;

  .row {
    flex-wrap: wrap;
    align-items: flex-start;
    box-sizing: border-box;
  }

  .left {
    flex: 0 0 50%;
    max-width: 50%;
    box-sizing: border-box;
  }

  .right {
    flex: 0 0 50%;
    max-width: 50%;
    box-sizing: border-box;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: none;
      }
    }

    p {
      margin: 0;
      padding: 0;
    }

    .icon {
      color: #6c757d;
      font-size: 20px;
      width: 24px;
      vertical-align: -6px;
      margin-right: 16px;

      svg {
        fill: #6c757d;
      }
    }

    .link {
      color: #6c757d;
      font-size: 16px;

      &:hover {
        color: var(--color-green);
      }
    }
  }

  @media (max-width: 576px) {
    .left, .right {
      flex: 0 0 100%;
      max-width: 100%;
      margin: 0;
    }

    .left {
      order: 1;
      margin-top: 6px;
    }
  }
}
