<footer class="galaxy-footer">
  <div class="footer-wrapper">
    <div class="footer-block footer-content footer-center">
      <a class="footer-item logo" href="/galaxy">
        <img src="assets/images/logo.svg" alt="Galaxy">
      </a>
      <div class="footer-item copyright">
        © 2020-{{year}}. All Rights Reserved
      </div>
      <div class="footer-item">
        Made with <span class="galaxy-icon heart"></span> by <a class="author" target="_blank" href="https://github.com/tiendat77">Tien Dat Huynh</a>
      </div>
    </div>

    <div class="footer-block footer-content footer-center">
      <h4 class="footer-title">Contact</h4>
      <ul class="nav-footer nav-column footer-center">
        <li class="nav-item" *ngFor="let info of contacts">
          <a class="nav-link" [attr.href]="info.url">
            <span class="galaxy-icon" [ngClass]="info.icon"></span>
            <span style="margin-left: 0.25rem;">{{info.name}}</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-block footer-content footer-center">
      <div class="footer-item footer-center">
        <h4 class="footer-title">Pages</h4>
        <ul class="nav-footer nav-row footer-center">
          <li class="nav-item" *ngFor="let page of pages">
            <a class="nav-link" [routerLink]="page.url">{{page.name}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>