.galaxy-toolbar {
  width: 100%;
  height: 70px;
  padding: 0 16px;
  z-index: 1000000;
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: #fff;
}