:host {
  display: inline-block;
  overflow: hidden;
}

.galaxy-avatar {
  border-radius: 50%;
  border: 2px solid #CCCCCC;
  display: flex;
  box-sizing: border-box;
  user-select: none;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.galaxy-avatar-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1 1 100%;
  align-items: center;
  place-content: center;
  color: #fff;
  font-size: 2em;
  font-weight: 300;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

img {
  width: 100%;
  height: 100%;
}
