<div class="container">
  <div class="input-container left">
    <div class="ui-input-container">
      <label class="ui-form-input-container">
        <span class="form-input-label">Json</span>
        <textarea class="ui-form-input" [(ngModel)]="input" (keydown)="preventKeys($event)">
        </textarea>
      </label>
    </div>

    <div class="action">
      <button mat-stroked-button color="primary" (click)="convert()">
        <span>Convert</span>
      </button>
    </div>
  </div>

  <div class="input-container right">
    <div class="ui-input-container">
      <label class="ui-form-input-container">
        <span class="form-input-label">Js</span>
        <textarea #outputArea class="ui-form-input" readonly [ngModel]="output"></textarea>
      </label>
    </div>

    <div class="action">
      <button mat-stroked-button color="primary" (click)="copy()">
        <span>Copy to clipboard</span>
      </button>
    </div>
  </div>
</div>