.container {
  width: 100%;
  position: relative;
  place-content: stretch space-between;
  align-items: stretch;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;

  .left, .right {
    flex: 1 1 100%;
    box-sizing: border-box;
    max-width: 50%;
  }

  .left {
    margin-right: 8px;;
  }

  .right {
    margin-left: 8px;
  }

  .action {
    width: 100%;
    text-align: center;
  }

  .input-container {
    .ui-input-container {
      border-radius: 4px;
      margin: 0 auto;
    }
    .ui-input-container h2 {
      font-family: sans-serif;
      margin-bottom: 20px;
      font-weight: 700;
      text-transform: capitalize;
    }
    .ui-form-input-container {
      position: relative;
      font-size: 1rem;
      margin-bottom: 15px;
      display: block;
    }
    .ui-form-input {
      padding: 13px 15px;
      border-radius: 8px;
      border: 2px solid #1a73e8;
      outline: 0;
      width: 100%;
      box-sizing: border-box;
    }

    .form-input-label {
      position: absolute;
      top: -7px;
      left: 10px;
      color: #1a73e8;
      font-size: 0.85rem;
      padding-right: 0.33rem;
      padding-left: 0.33rem;
      background: #fff;
      transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
      font-family: sans-serif;
      text-transform: capitalize;
    }

    .ui-form-btn {
      padding: 13px 15px;
      border-radius: 8px;
      background: #1a73e8;
      outline: 0;
      width: 100%;
      border: none;
      cursor: pointer;
      font-size: 1rem;
      color: white;
      font-weight: 500;
    }

    .error .ui-form-input,
    .error .form-input-label {
      border-color: #d50000;
      color: #d50000;
    }

    textarea {
      height: 500px;
      width: 100%;
      font-size: 1.1em;
      white-space: pre;

      &::-webkit-scrollbar {
        height: 6px;
        width: 6px;
      }

      &::-webkit-scrollbar-thumb {
        background: rgb(175, 175, 175);
      }
    }
  }
}