.container {
  margin: auto;
  padding: 32px;
  min-width: 564px;
  max-width: 1000px;
  box-sizing: border-box;

  section {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
  }

  section:last-child {
    margin-bottom: 0;
  }

  h2.title {
    margin: 0;
    color: #373f50;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2.3rem;
  }

  .sub-header {
    color: #373f50;
    font-weight: 300;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
  }

  .content {
    border-radius: 1rem;
    border: 1px solid #ececec;
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: #e9ecef;
  }
}

.layout-control {
  max-width: 33%;
  flex: 1 1 100%;

  h3 {
    margin-top: 0;
    font-weight: 400;
    font-size: 1rem;
    color: #929daf;
  }
}

.block {
  color: #fff;
  margin: 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.block:hover {
  filter: brightness(1.2);
}

.block:nth-child(1) {
  background-color: #F2542D;
}

.block:nth-child(2) {
  background-color: #00A6FB;
}

.block:nth-child(3) {
  background-color: #CA61C3;
}

.block:nth-child(4) {
  background-color: #40C9A2;
}

.block:nth-child(5) {
  background-color: #507DBC;
}

.flex-demo {
  padding: 24px;
  height: 300px;
  overflow: hidden;
  box-sizing: border-box;
  transition: height 0.3s ease-in-out;

  .block {
    min-width: 80px;
    min-height: 50px;
  }
}

.flex-demo.row {
  height: 250px;

  .block:nth-child(2) {
    min-height: 100px;
  }

  .block:nth-child(4) {
    min-height: 75px;
  }
}

.flex-demo.column {
  height: 400px;

  .block:nth-child(2) {
    min-width: 120px;
  }

  .block:nth-child(4) {
    min-width: 100px;
  }
}

.panel {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.panel:nth-child(1) {
  background-color: #0B6E4F;
}

.panel:nth-child(2) {
  background-color: #08A045;
}

.panel:nth-child(3) {
  background-color: #6BBF59;
}

.fill-demo {
  width: 100%;
  height: 100%;
  display: flex;
  height: 240px;
  overflow: hidden;
  border-radius: 8px;
}

.style-content {
  color: #565a5f;
  white-space: pre;
  padding-left: 1rem;
  user-select: all;
  position: relative;

  &::before {
    content: '{';
    display: block;
    margin-left: -1rem;
  }

  &::after {
    content: '}';
    display: block;
    margin-left: -1rem;
  }
}