.main-container {
  margin: 0;
  padding: 0;
  flex-grow: 1;
  min-height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  background-color: #f6fef5;
}

main {
  padding: 0;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.content {
  height: 100%;
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: stretch;
  align-content: stretch;
  justify-content: space-between;
}

.logo {
  top: 16px;
  left: 16px;
  display: none;
  position: absolute;
}

.sidebar {
  display: none;
}

.auth-content {
  width: 100%;

  .auth-form {
    max-width: 300px;
    margin: auto;
    height: 100%;
    width: 100%;
  }

  .title {
    margin: 0;
    color: #7b7b7b;
    margin-bottom: 26px;
    text-align: center;
  }

  .error {
    color: #ff6d6d;
    font-size: 12px;
    margin-top: 6px;
  }

  .forgot-password {
    cursor: pointer;
    display: block;
    text-align: right;
    font-size: 14px;
    color: #7b7b7b;

    &:hover {
      color: var(--color-green);
    }
  }

  .submit {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 48px;
    margin: 1rem 0;
    border-radius: 25px;
    outline: none;
    border: none;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    transition: .5s;
    color: #fff;
    background-size: 200%;
    background-image: linear-gradient(to right, #43ac6f, #39c071, #1aa754);

    &:hover {
      background-position: right;
    }
  }
}

.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: rgb(186 186 186 / 50%);
}

@media (min-width: 600px) {
  main {
    padding: 24px;
    min-width: 450px;
    min-height: 500px;
    height: 90%;
    width: 90%;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: rgb(53 53 53 / 30%) 0px 1px 4px 0px;
  }

  .main-container {
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: row;
  }

  .logo {
    display: block;
  }

  .sidebar {
    display: block;
    width: 50%;
  }

  .auth-content {
    width: 50%;
    margin: 0;
  }
}