.main-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-grow: 1;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  min-height: 100%;
}

main {
  padding: 24px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: rgb(53 53 53 / 30%) 0px 1px 4px 0px;
}

.content {
  width: 100%;
}

.auth-content {
  width: 100%;
  max-width: 416px;
}

@media (min-width: 960px) {
  .main-container {
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: row;
  }

  .sidebar {
    width: 450px;
    flex-grow: 0;
    background: #f1cdd7;
    color: #865c6c;
  }

  .content {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: auto;
  }

  .auth-content {
    padding: 30px 60px;
    margin: 0;
  }

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 1100px) {
  .sidebar {
    width: 510px;
  }
}