<div class="main-container">
  <main>
    <div class="content">
      <a class="logo" href="/">
        <img src="assets/images/logo.svg" width="133px" height="40px" alt="Galaxy">
      </a>

      <section class="sidebar">
        <img style="width: 100%; height: 100%;" src="https://www.cssscript.com/demo/login-page-template/img/bg.svg">
      </section>

      <section class="auth-content">
        <div class="auth-form flex center">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <h1 class="title">Sign in to <span style="color: #78af9f;">Galaxy</span></h1>

            <galaxy-form style="margin: 4px 0 26px 0;">
              <galaxy-label>Username</galaxy-label>
              <input type="text" name="username" placeholder=" " formControlName="username">
            </galaxy-form>

            <galaxy-form style="margin: 4px 0 0 0;">
              <galaxy-label>Password</galaxy-label>
              <input type="password" name="password" placeholder=" " formControlName="password">
            </galaxy-form>

            <div class="error">
              {{ error$ | async }}
            </div>

            <a class="forgot-password" style="margin: 4px 0 16px 0;">
              Forgot password?
            </a>

            <button type="submit" class="submit" [disabled]="loading$ | async">
              Login
            </button>

            <div class="flex row center links">
              <a href="/galaxy">Galaxy</a>
              <a href="/about">About</a>
            </div>
          </form>
        </div>
      </section>
    </div>
  </main>

  <div class="overlay flex center" *ngIf="loading$ | async">
    <galaxy-spinner></galaxy-spinner>
  </div>
</div>