/* You can add global styles to this file, and also import other style files */
@import './assets/style/main.scss';
@import './assets/style/flex-layout.scss';
@import './assets//style//material-theming.scss';
@import './app/core/galaxy-ui/galaxy-ui.scss';

html { height: 100%; }
body { overflow: hidden auto; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
ul { margin: 0; padding: 0; list-style: none; }