<div class="container" fxFlex>
  <div style="width: 100%;" fxLayout="column" fxFlex>
    <div fxLayoutAlign="space-between stretch" fxFlex="50">
      <div class="card" fxFlex="50">
        <app-dashed-line-chart
            title="Yearly avg overtime hours"
            subtitle="(Per employee)">
        </app-dashed-line-chart>
      </div>

      <div class="card" fxFlex="50">

      </div>
    </div>

    <div fxLayoutAlign="space-between stretch" fxFlex="50">
      <div class="card" fxFlex="50">
        <app-bullet-chart
            title="Bullet Chart">
        </app-bullet-chart>
      </div>

      <div class="card" fxFlex="50">
        <app-bar-chart
          title="Avg Overtime by age group">
        </app-bar-chart>
      </div>
    </div>
  </div>
</div>