<div class="container" fxFlex>
  <div style="width: 100%;" fxLayout="column" fxFlex>
    <div fxLayoutAlign="space-between stretch" fxFlex="50">
      <div class="card" fxFlex="50">
        <div kpiPieChart [labelHeight]="20" [arcPadding]="0.01">
        </div>
      </div>

      <div class="card" fxFlex="50">
        <div kpiLineChart></div>
      </div>
    </div>

    <div fxLayoutAlign="space-between stretch" fxFlex="50">
      <div class="card" fxFlex="50">
        <app-bullet-chart
            title="Bullet Chart">
        </app-bullet-chart>
      </div>

      <div class="card" fxFlex="50">
        <app-bar-chart
          title="Avg Overtime by age group"
          barColor="#A42A29"
          [showValueOnBar]="true"
          [showYAxis]="false">
        </app-bar-chart>
      </div>
    </div>
  </div>
</div>