.container {
  width: 100vw;
  height: calc(100vh - 64px);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  overflow: auto;
  background: linear-gradient(#1e1e2f, #1e1e24);
  border-top: 2px solid #57FF62;

  .card {
    position: relative;
    border-radius: 10px;
    margin: 8px;
    background: #27293d;
    border: 0;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
    color: #fff;

    div {
      width: 100%;
      height: 100%;
    }
  }
}