<div class="container" fxFlex>
  <div style="width: 100%;" fxLayout="column" fxFlex>
    <div fxLayoutAlign="space-between stretch" fxFlex="50">
      <div class="card" fxFlex="50">
        <div kpiPieChart [labelHeight]="20" [arcPadding]="0.01"></div>
      </div>

      <div class="card" fxFlex="50">
        <div kpiLineChart></div>
      </div>
    </div>

    <div fxLayoutAlign="space-between stretch" fxFlex="50">
      <div class="card" fxFlex="50">
        <div kpiBarChart></div>
      </div>

      <div class="card" fxFlex="50">
        <div kpiBarChart></div>
      </div>
    </div>
  </div>
</div>